<nb-card>
    <nb-card-header>
      Tuition Center Detail
    </nb-card-header>
    <nb-card-body>
      <form class="text-center" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="form-row mb-4">
          <div class="col-md-3 pr-3">
            <div class="user_img text-center">
              <img src="assets/images/camera1.jpg" alt="" class="img-fluid">
              <h5> Noida</h5>
              <div class="avr_rate">
                <h6>Average Rating <br>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
                  <b>4.5</b>
                </h6>              
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <nb-tabset>
              <nb-tab class="px-0" tabTitle="Profile">
                <div class="row">
                  <div class="col-md-4">
                    <label for="">Name <sup>*</sup></label>
                    <input type="text" id="" class="form-control" placeholder="Name" formControlName="name" required>
                  </div>
                  <div class="col-md-4">
                    <label for="Contact">Contact<sup>*</sup></label>
                    <input type="text" id="Contact" class="form-control" placeholder="Contact" formControlName="contact">
                  </div>
                  <div class="col-md-4">
                    <label for="email">Email<sup>*</sup></label>
                    <input type="text" id="email" class="form-control" placeholder="Email" formControlName="email">
                  </div> 
                  <div class="col-md-4">
                    <label for="">Tuition Center Name <sup>*</sup></label>
                    <input type="text" id="" class="form-control" placeholder="Tution Center Name" formControlName="centerName">
                  </div>             
                </div>
                <div formGroupName="paymentDetails" class="text-left mt-5">
                  <h5 class="m-0 sec_heading">Payment Information</h5>
                  <div class="row">
                    <div class="col-md-6"> <label style="width:100%" class="mt-0">
                      Account Holder Name
                      </label>
                      <input type="text" class="form-control" placeholder="Account Holder Name" formControlName="accHolder">
                    </div>
                    <div class="col-md-6"> <label style="width:100%" class="mt-0">
                        Bank
                      </label>
                      <input type="text" class="form-control" placeholder="Bank" formControlName="bank">
                    </div>
                    <div class="col-md-6"> <label style="width:100%">
                      Account Number
                      </label>
                      <input type="text" class="form-control" placeholder="Account Number" formControlName="accNumber">
                    </div>
                    <div class="col-md-6"> <label style="width:100%">
                      IFSC Code
                    </label>
                    <input type="text" class="form-control" placeholder="IFSC Code" formControlName="ifsc">
                  </div>
                  </div>
                </div>
                <div formGroupName="address" class="text-left mt-5">
                  <h5 class="m-0 sec_heading">Address</h5>
                  <div class="row">
                    <div class="col-md-6"> <label style="width:100%" class="mt-0">
                        Street
                      </label>
                      <input type="text" class="form-control" placeholder="Street" formControlName="street">
                    </div>
                    <div class="col-md-6"> <label style="width:100%" class="mt-0">
                        City
                      </label>
                      <input type="text" class="form-control" placeholder="City" formControlName="city">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4"> <label style="width:100%">
                        State
                      </label>
                      <input type="text" class="form-control" placeholder="State" formControlName="state">
                    </div>
                    <div class="col-md-4"> <label style="width:100%">
                      Country
                    </label>
                    <input type="text" class="form-control" placeholder="Country" formControlName="country">
                  </div>
                    <div class="col-md-4"> <label style="width:100%">
                        Zip Code
                      </label>
                      <input type="text" class="form-control" placeholder="Zip Code" formControlName="zip">
                    </div>
                  </div>
                </div>
                <div class="col-md-12 mt-3">
                  <button class="btn btn-iudtor" routerLink="/pages/edit-student">Edit Details</button>
                </div>
              </nb-tab>
              <nb-tab class="px-0" tabTitle="Teachers">
                <div class="table-responsive mt-3">
                    <table class="table ">
                      <thead>
                        <tr>
                          <!-- <th scope="col">#</th> -->
                          <th scope="col">Name</th>
                          <th scope="col">Specialization</th>
                          <th scope="col">Experience/Years</th>
                          <th scope="col">Contact Details</th>
                          <th scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let teacher of teachers">
                          <td>
                            <!-- <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + teacher.image" class="mr-2" style="width: 20px"> -->
                            <div class="d-flex align-items-center">
                              <span class="mr-2 stud_img"><img [src]="teacher.teachImg" alt="teacher Image" class="img-fluid"></span>
                              <p class="m-0"> <b>{{ teacher.name }}</b>
                              </p>
                            </div>
              
                          </td>
                          <td>{{teacher.specialization}}</td>
                          <td>{{teacher.experience}}</td>
                          <td>{{teacher.email}} <br> {{ teacher.contact}}</td>
                          <td>{{ teacher.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </nb-tab>
              <nb-tab class="px-0" tabTitle="Courses" badgeText="12" badgeStatus="warning">
                <table class="table ">
                  <thead>
                    <tr>
                      <th>Course Name</th>
                      <th>Teacher Name</th>
                      <th>Start Date</th>
                      <th>End Date</th>
                      <th>Classes Taken</th>
                      <th>Upcoming Classes</th>
                      <th>Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Piano Learning</td>
                      <td>Jack</td>
                      <td>22-02-2020</td>
                       <td>22-05-2020</td>
                      <td>29</td>
                      <td>11</td>
                      <td>&#x20B9;9000</td>                    
                    </tr>
                    <tr>
                      <td>Swimming</td>
                      <td>Jack</td>
                      <td>22-02-2020</td>
                       <td>22-05-2020</td>
                      <td>29</td>
                      <td>11</td>
                      <td>&#x20B9;9000</td>       
                    </tr>
                    <tr>
                      <td>Dancing</td>
                      <td>Jack</td>
                      <td>2-07-2020</td>
                      <td>22-05-2020</td>
                      <td>21</td>
                      <td>1</td>
                      <td>&#x20B9;4000</td>       
                    </tr>
                    <tr>
                      <td>Piano Learning</td>
                      <td>Jack</td>
                      <td>22-02-2020</td>
                       <td>22-05-2020</td>
                      <td>29</td>
                      <td>11</td>
                      <td>&#x20B9;9000</td>                    
                    </tr>
                    <tr>
                      <td>Swimming</td>
                      <td>Jack</td>
                      <td>22-02-2020</td>
                       <td>22-05-2020</td>
                      <td>29</td>
                      <td>11</td>
                      <td>&#x20B9;9000</td>       
                    </tr>
                    <tr>
                      <td>Dancing</td>
                      <td>Jack</td>
                      <td>2-07-2020</td>
                      <td>22-05-2020</td>
                      <td>21</td>
                      <td>1</td>
                      <td>&#x20B9;4000</td>       
                    </tr>
                  </tbody>
                </table>
              </nb-tab>
              <nb-tab class="px-0" tabTitle="Classes" badgeText="22" badgePosition="top right" badgeStatus="success">
               <table  class="table ">
                 <thead>
                   <th>Course Name
                   </th>
                   <th>Teacher Name</th>
                   <th>Start Time
                    </th>
                    <th>End Time
                      </th>
                      <th>Status</th>
                 </thead>
                 <tbody>
                  <tr>
                    <td>Alebra</td>
                    <td>jack</td>
                    <td>11.00 AM</td>
                    <td>2.00 PM</td>
                    <td><span class="status_success">Completed</span></td>
                  </tr>
                  <tr>
                    <td>Chemistry</td>
                    <td>jack</td>
                    <td>11.00 AM</td>
                    <td>2.00 PM</td>
                    <td><span class="status_danger">Skipped</span></td>
                  </tr>
                  <tr>
                    <td>Economics</td>
                    <td>jack</td>
                    <td>11.00 AM</td>
                    <td>2.00 PM</td>
                    <td><span class="status_success">Completed</span> </td>
                  </tr>
                  <tr>
                    <td>English</td>
                    <td>jack</td>
                    <td>11.00 AM</td>
                    <td>2.00 PM</td>
                    <td><span class="status_danger">Skipped</span> </td>
                  </tr>
                 </tbody>
               </table>
              </nb-tab>
              <nb-tab class="px-0" tabTitle="Payment">
                <table  class="table ">
                  <thead>
                    <th>Date</th>
                    <th>Transaction ID</th>
                     <th>Course Name</th>
                       <th>Amount</th>
                       <th>Payment Mode</th>
                         <th>Status</th>
                  </thead>
                  <tbody>
                   <tr>
                     <td>10-07-2020</td>
                     <td>ASD3424234</td>
                     <td>Swimming</td>
                     <td>&#x20B9;1000</td>
                     <td>Online</td>
                     <td><span class="status_success">Complete</span></td>
                   </tr>
                   <tr>
                    <td>10-07-2020</td>
                    <td>ASD3424234</td>
                    <td>Singing</td>
                    <td>&#x20B9;2500</td>
                    <td>Online</td>
                    <td><span class="status_pending">Pending</span></td>
                   </tr>
                   <tr>
                    <td>10-07-2020</td>
                    <td>---</td>
                    <td>Dancing</td>
                    <td>&#x20B9;3000</td>
                    <td>Offline</td>
                    <td><span class="status_pending">Pending</span></td>
                   </tr>
                   <tr>
                    <td>10-07-2020</td>
                    <td>rxa45345353</td>
                    <td>Swimming</td>
                    <td>&#x20B9;1400</td>
                    <td>Online</td>
                    <td><span class="status_success">Complete</span></td>
                   </tr>
                  </tbody>
                </table>
              </nb-tab>
            </nb-tabset>
  
          </div> 
        </div>
      </form>
    </nb-card-body>
  </nb-card>